<html>
<head>
<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/bower_components/nvd3/nv.d3.min.css"/>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower_components/momentjs/min/moment.min.js"></script>
<script src="/bower_components/lodash/dist/lodash.min.js"></script>
<script src="/bower_components/d3/d3.min.js"></script>
<script src="/bower_components/nvd3/nv.d3.min.js"></script>
<script src="/bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
<script src="/bower_components/mathjs/dist/math.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/cfd/cfd.sys.config.js"></script>
<script src="/cfd/cfd.config.js"></script>
<script src="/cfd/cfd.service.js"></script>
<script src="/cfd/cfd.chart.js"></script>
<script src="/cfd/cfd.js"></script>
</head>
<body ng-app="Kanban" ng-controller="KanbanCtrl">
  <form class="form-inline" style="margin-top: 10px">
    <button class="btn btn-small btn-info form-group col-md-3" style="margin-left: 15px;" ng-click="initHistoricalData()">
      Load historical data starting from
    </button>
     <div class="form-group col-md-3">
      <div class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="startDate" is-open="calendarStatus['startDate']" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Start Date"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <div class="form-group col-md-3">
      <div class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="endDate" is-open="calendarStatus['endDate']" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="End Date"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
    </div>
    <button class="btn btn-small btn-success" ng-click="reloadData()">
      Reload Data
    </button>
  </form>
  <div>
    <form class="form-inline" style="margin: 10 0 0 15">
      <div class="checkbox" style="margin-left: 26px;">
        <input type="checkbox" ng-model="showByOwner"/>
        <label>Show graph by Owner</label>
      </div>
      <div class="form-group col-md-12">
        <label ng-show="owners.length > 1" style="margin-left: 10px;">Owners: </label>
        <span ng-repeat="owner in owners">
          <input type="checkbox" ng-model="owner.selected"/>
          <span>{{owner.name}}</span>
        </span>
      </div>
      <div class="form-group col-md-12">
        <label ng-show="itemTypes.length > 1" style="margin-left: 10px;">Types: </label>
        <span ng-repeat="type in itemTypes">
          <input type="checkbox" ng-model="type.selected"/>
          <span>{{type.name}}</span>
        </span>
      </div>
    </form>
  </div>
  <tabset style="padding-left: 15px;">
    <tab ng-repeat="owner in owners" heading="{{owner.name}}" active="owner.active" ng-show="isTabShown(owner)">
      <accordion close-others="false" style="width: 100%;">
        <accordion-group heading="Cumulative Flow" is-open="graph.cfd[$index]" style="max-height: 350">
          <div ng-controller="CumulativeFlowDiagramCtrl" ng-init="ownerId = owner.id">
            <nvd3-stacked-area-chart
                data="cfdData"
                width="1280"
                height="300"
                showXAxis="true"
                showYAxis="true"
                showLegend="true"
                xAxisTickFormat="formatDateLabel"
                yAxisTickFormat="formatCountLabel"
                tooltips="true"
                useInteractiveGuideline="true">
            </nvd3-stacked-area-chart>
          </div>
        </accordion-group>
        <accordion-group heading="Item Lead Time" is-open="graph.leadtime[$index]">
          <div ng-controller="LeadTimeCtrl" ng-init="ownerId = owner.id">
            <div class="row">
              <form class="form-inline" style="margin: 10 0 0 15">
                <div class="form-group col-md-3">
                  <label>Show item whose Lead Time &gt; </label>
                  <input type="text" style="width: 40px" ng-model="leadTimeDuration" placeholder="days" ng-change="onLeadTimeDurationChange()" ng-required="true"/>
                </div>
                <div class="form-group col-md-1">
                </div>
                <div class="form-group col-md-2">
                  <span>Median Lead Time: {{medianLeadTime}}</span>
                </div>
                <div class="form-group col-md-2">
                  <span>From: </span>
                  <select id="fromStatus" ng-model="fromStatus" ng-options="status for status in itemStatus"></select>
                </div>
                <div class="form-group col-md-2">
                  <span>To: </span>
                  <select id="toStatus" ng-model="toStatus" ng-options="status for status in itemStatus"></select>
                </div>
              </form>
            </div>
            <div class="row">
              <div class="col-md-12">
                <nvd3-multi-bar-horizontal-chart data="leadTimeData" id="LeadTime{{ownerId}}" width="1280" height="550" showXAxis="false" showYAxis="true" stacked="true" showLegend="true" interactive="true" tooltips="true" tooltipcontent="toolTipContentFunction">
                </nvd3-multi-bar-horizontal-chart>
              </div>
            </div>
          </div>
        </accordion-group>
        <accordion-group heading="Blocked Statistics" is-open="graph.blocked[$index]">
          <div ng-controller="BlockedStatisticsCtrl" ng-init="ownerId = owner.id">
            <div>
              <form class="form-inline" style="margin: 10 0 0 15">
                <div class="form-group col-md-12">
                  <label>Show blocked items &gt; </label>
                  <input type="text" style="width: 40px" ng-model="blockedDuration" placeholder="days" ng-change="onBlockedDurationChange()" ng-required="true"/>
                </div>
              </form>
            </div>
            <div class="row" style="max-height: 350">
              <div class="col-md-12">
                <nvd3-multi-bar-horizontal-chart data="statusBlockedStatistics" id="statusBlockedStatistics{{ownerId}}" width="550" height="350" showXAxis="true" showYAxis="true" stacked="true" showLegend="true" interactive="true" tooltips="true" tooltipcontent="toolTipContentFunction" margin="{left:90}">
                </nvd3-multi-bar-horizontal-chart>
              </div>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </tab>
  </tabset>
</body>
</html>
